#small {
  position: relative;
  height: 105vh;
  background-color: #cfcde0;
}

.background-overlay {

  content: '';
  background-image: url("..\\src\\assets\\heropic5.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  opacity: 0.25;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container-fluid {
  background: linear-gradient(rgba(191, 183, 206, 0.3),rgba(191, 183, 206, 0.3));
  padding: 0;
  height: 105vh;
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.drop {
  width: 520px;
  height: 650px;

margin-left: 170px;
  position: absolute;
  border-radius: 20px;
  z-index: 2; /* Ensure image is above the overlay */
  margin-top: 45px;
  padding-right: 0px;
}
.border1{
  width: 535px;
  height: 640px;
  border: 3px solid white;
  position: absolute;
  z-index: 3;
  margin-left: 105px;
  margin-top: 90px;
  border-radius: 20px;
  
}
#Hero-Text{
  padding-left: 100px;
}
.text{
  /* width:450px; */
  text-align: center;
  padding-top: 90px;


}
h5{
  justify-content: left;
  font-size: 55px;
  font-family: 'Playfair Display', serif;
 text-align: left;
 margin-bottom: 20px;
}
p{
  width: 400px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
 
 margin-bottom: 20px;
}
#shop-btn{
 
  padding: 5px 20px 5px 20px;
  /* padding-left: 13px;
  padding-right: 13px; */
  border-radius: 20px;
  border: none;
  background-color:#8e89a7;
  color: white;
}





