<div class="container-fluid" id="small">
    <div class="background-overlay"></div>
    <div class="container-fluid position-relative">
        <app-navbarcomponent></app-navbarcomponent>
        <div class="row">
            <div class="col-5" id="Hero-Text">
                <div class="text">
                    <h5> &ldquo; Naturally Radiant: <br> Transform Your<br> Skin With Organic<br> Care &rdquo;</h5>
                </div>
                <div class="text1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam in vitae suscipit provident laborum rem fuga, totam assumenda blanditiis!</p>
                </div>
                <button id="shop-btn">Shop Now</button>
            </div>
            <div class="col-7 p-0">
                <div class="border1"></div>
                <img class="drop" src="../assets/dropper.jpg">
            </div>
        </div>
    </div>
</div>
<app-about></app-about>