<nav class="navbar navbar-expand-lg sticky-top ">
  <div class="container">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="#" id="insta">Instagram</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" id="ytb">Youtube</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" id="whtsup">WhatsApp</a>
              </li>
          </ul>
          <form class="d-flex">

            <img src="../assets/search.svg"  width="30" height="24">
              
          </form>

          <button class="btn btn-primary  ms-3 " id="log">Login</button>
          <button class="btn btn-secondary ms-3 " id="Reg">Register</button>
      </div>
  </div>
  
</nav>
<!-- <app-navbarcomponent></app-navbarcomponent> -->
<app-bgcompo></app-bgcompo>
